body {
    color: #333;
    font-family: helvetica, serif;
    margin: 0;
    overflow: hidden;
}

.container {
    &-body {
        display: flex;
    }
}

.divider {
    background-color: #7a54a8;
    width: 10px;
}

.hidden {
    display: none !important;
}

.clickable {
    cursor: pointer;
}

.color-picker {
    left: 280px;
    position: absolute;
    z-index: 10;
}
